apiVersion: v1
kind: calicoApiConfig
metadata:
spec:
  datastoreType: "etcdv2"
  etcdEndpoints: "{% for host in groups.etcd %}
http://{{ hostvars[host].ansible_default_ipv4.address }}:2379
{%- if not loop.last %},{% endif %}
{% endfor %}"
