apiVersion: kubeadm.k8s.io/v1alpha1
kind: MasterConfiguration
kubernetesVersion: "v{{ k8s_version }}"
token: e73611.a134839de6c44735
etcd:
  endpoints:
{% for host in groups.etcd %}
  - http://{{ hostvars[host].ansible_default_ipv4.address }}:2379
{% endfor %}
